html,
body {
    /* height: 100%; */
    margin: 0;
    /* padding: 0; */
    /* overflow: hidden; */
}

body {
    font-family: monospace;
    text-align: center;
    color: whitesmoke;
    /* background: linear-gradient(to bottom,#b84908 0%,#F27244 100%);   */
    background: linear-gradient(#5F8C32, #ECFB5C);

    justify-content: center;
    min-height: 100vh;
}

.screen {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.screen.active {
    display: block;
    opacity: 1;
    /* transition: opacity 0.5s ease; */
}

.Main-Box {
    margin-top: 20px;
    /* aspect-ratio: 2/1; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    /* width: 80vh; */
    max-width: 800px;
    min-width: 100px;
    height: 400px;
    padding: 20px;
    justify-content: center;
    background-color: #011126;
    border: none;
    box-shadow: 0px 0px 30px #0d0d0d93;
    border-radius: 0.5pc;
    box-sizing: border-box;
}

.hrLogo {
    position: absolute;
    margin: 20px;
    width: 40px;
    height: 40px;
    top: 0px;
    right: 0px;
    filter: grayscale() invert();
    transition: transform 0.2s ease;
    /* background-color: red; */

}

.hrLogo:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.hrLogo:active {
    transform: scale(0.95);
}

.Clock-box {
    display: inline-block;
    padding-bottom: 50px;
    position: relative;
    padding: 0px;
    border-radius: 1pc;
    font-size: clamp(2.3em, 4vw, 4em);
    background-color: transparent;
    /* width: 80%; */
}

#clock {
    text-shadow: 0px 0px 10px #252526;
    transition: all 0.3s ease;
}

#Clock-box h1 {
    margin-top: 5px;
}

.pop {
    animation: pop 0.5s ease;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.flex-container {
    /* z-index: 1; */
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 60%;

}

.Timer-box,
.StopWatch-box {
    flex: 1;
    font-size: 0.8em;
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-radius: 2pc;
    border: none;
    margin-top: 20px;
    /* margin-top: 0px; */
    transform: scale(1);
    color: #011126;
    transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.5s ease;
    background-color: #ECFB5C;
    box-shadow: 0px 0px 10px #22201c;
    /* transition: all 0.5s ease; */

}

/* .timer-box h1,
.StopWatch-box h1 {
    margin-top: 0px;
} */

.Timer-box:hover,
.StopWatch-box:hover {
    cursor: pointer;
    backdrop-filter: blur(1px);
    transform: scale(1.08) translateY(-5px);
    backdrop-filter: blur(5px);
}

.all-btns {
    z-index: 1;
    display: inline-block;
    margin-top: 10;
    font-size: 0.7em;
    margin: 10px;
    border-radius: 2pc;
    padding: 10px 30px 10px 30px;
    background-color: #011126;
    border: none;
    color: whitesmoke;
    transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.5s ease;
    /* justify-content: center; */
}


.all-btns:hover {
    background-color: #213112;
    cursor: pointer;
    transform: scale(1.15);
}

.all-btns:active {
    transform: scale(0.98);
    background-color: #213112;
}


/* ------------------------TIMER------------------------ */


.Timer-box:active,
.StopWatch-box:active {
    transform: scale(0.98) translateY(-5px);
    background-color: #cadd26;
}



.Expand {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: calc(100% - 40px);
    height: calc(100% - 40px);

    color: #011126;

    display: block;
    box-sizing: border-box;
    background-color: #cadd26;
    border-radius: 1pc;
    font-size: clamp(0.5em, 4vw, 2em);
    transition: all 0.5s ease;
}



/* ----------------------Shrunk Clock---------------------- */

.shrink-clk {
    position: relative;
    background-color: #011126;
    color: white;
    max-width: 800px;
    min-width: 100px;
    height: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    padding-bottom: 20px;
    font-size: 2em;
    box-shadow: 0px 0px 20px #0d0d0d83;
    border-radius: 0.5pc;
    margin-bottom: 0;
    transition: all 0.5s ease;
    /* animation: appear 0.5s ease forwards; */
}

.appear {
    animation: appear .3s ease forwards;
}

@keyframes appear {
    0% {
        transform: translateY(400px) scale(0);
    }

    100% {
        transform: translateY(-8px) scale(1);
    }
}

.shrink-clk h1 {
    margin: 0;
}


.backLogo {
    z-index: 10;
    position: absolute;
    margin: 30px;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 0px;
    /* filter: grayscale() invert(); */
    transition: transform 0.3s ease, opacity 0.5s ease;
    animation: pop 0.5s ease;
}

.backLogo:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.backLogo:active {
    transform: scale(0.95);
}


/* ----------------------------------------------------- */

#StopWatch {
    z-index: 1;
    font-size: 3em;
    margin-top: 50px;
    margin-bottom: 60px;
}

.Expand h1 {
    margin-top: 10px;
    font-size: 1.7em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    opacity: 0.8;
}

#Timer {
    z-index: 1;
    font-size: 3em;
    margin-top: 40px;
    margin-bottom: 60px;
}

#SetTimerID {
    cursor: pointer;
}

/* ----------------Setting Timer---------------- */

.SettingTimer {
    z-index: 100;
    position: absolute;
    width: calc(100% - 400px);
    height: calc(100% - 150px);
    padding: 20px;
    background-color: #011126;
    color: #ECFB5C;
    border-radius: 1pc;
    box-shadow: 0px 0px 20px #00000083;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.close-btn:active {
    transform: scale(0.8);
}

.SettingTimer.active {
    animation: pop 0.5s forwards;
}

.SettingTimer h3 {
    margin: 0 0 20px;
    font-size: clamp(1em, 4vw, 1.5em);
    color: #ECFB5C;
}

.SettingTimer input[type="number"] {
    /* z-index: 2; */
    width: 50px;
    margin: 0 10px;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ECFB5C;
    border-radius: 5px;
    background-color: #011126;
    color: #ECFB5C;
    text-align: center;
    transition: border 0.3s ease;
}

.SettingTimer input[type="number"]:focus {
    border-color: #545d00;
    outline: none;
}

.SettingTimer button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #011126;
    background-color: #ECFB5C;
    border: none;
    border-radius: 5pc;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.SettingTimer button:hover {
    background-color: #5F8C32;
    transform: scale(1.05);
}

.SettingTimer button:active {
    transform: scale(0.95);
}

#SetTimerID {
    /* display: inline-block; */
    width: max-content;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    /* transition: all 0.3s ease; */
}

#SetTimerID h2 {
    transition: all 0.3s ease;
}

#SetTimerID:hover h2 {
    color: #213112;

}

#SetTimerID:active {
    transform: scale(0.9);
}

#cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99; 
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 2s ease;
}

#cover.active {
    opacity: 1;
}
